body {
  font-family: var(--f-museo-slab);
}

#logo {
  content: url("../images/logo.webp");
  min-height: 100px;
}

#pause img {
  content: url("../images/logo.webp");
}

button.rollable {
  border: none;
  background: var(--c-black);
  border-radius: 0;

  &.reroll, &.use-weapon {
    &:hover, &:focus {
      color: var(--c-black);
    }
  }
}

.rollable {
  &:hover, &:focus {
    text-shadow: 0 0 10px red;
    cursor: pointer;
  }

  #context-menu {
    text-shadow: none;
  }
}

.chat-message .dice-roll h4.dice-total {
  &.success {
    color: green;
  }

  &.failure {
    color: red;
  }

  &.hard-success {
    background-color: rgba(0, 128, 0, .2);
  }

  &.hard-failure {
    background-color: rgba(255, 0, 0, .2);
  }
}

#sidebar {
  background-image: url("../images/chat_bg.webp");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

.chat-message {
  @include blue-to-gray-gradient;
}
